@import "../../styles/variables.scss";

.backgroundContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContentContainer {
  background-color: #181b2e;
  min-width: 50%;
  max-width: 70%;
  min-height: 50%;
  max-height: 70%;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: auto;
}
.closeButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.closeButton {
  cursor: pointer;
  transition: ease-in-out 0.12s;
  &:hover {
    opacity: 0.7;
  }
}
.tableContainer {
  margin-top: 1rem
}
.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & button a, p {
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
  }
}
.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: solid 1px white;
  border-radius: 0.4rem;

  padding: 0.35rem;
  margin: 0.35rem 0.35rem 0.75rem 0.35rem;

  transition: ease-in-out 0.12s;

  cursor: pointer;

  &:hover {
    background-color: #333A61;
  }
}
.linkText {
  font-size: 0.9rem;
  margin: 0;
  color: white;
}
.downloadButton {
  outline: none;
  border: none;
  background: none;
  color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.spacer {
  margin: 8px 0 0 0;
}

@media (max-width: $mobileWidthPxl) {
  .mainContentContainer {
    max-width: unset;
    max-height: unset;

    width: 90%;
    height: 70%;
  }
}