@import "../../styles/variables.scss";

.backgroundContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center
}
.mainContentContainer {
  background-color: #181b2e;
  max-width: 70%;
  max-height: 70%;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: auto
}
.closeButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end
}
.closeButton {
  cursor: pointer;
  transition: ease-in-out 0.12s;
  &:hover {
    opacity: 0.7
  }
}
.linksContainer {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 0 0
}
.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: solid 1px white;
  border-radius: 0.4rem;

  padding: 0.35rem;
  margin: 0 0.35rem 0.75rem 0.35rem;

  transition: ease-in-out 0.12s;

  cursor: pointer;

  &:hover {
    background-color: #333A61
  }
}
.linkText {
  margin: 0;
  color: white
}

@media (max-width: $mobileWidthPxl) {
  .mainContentContainer {
    max-width: 90%;
    max-height: 80%
  }
}