.container {
  flex: 1;
  height: 100%;
  display: flex;
  text-align: left;
  font-size: 15px;
}
.rowsContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px;
  flex: 1;
}
.row {
  display: flex;
  flex-direction: row;
  padding: 0 0 12px 0;
}
.rowLeft {
  flex: 3;
  color: rgba(255, 255, 255, 0.8);
}
.rowRight {
  flex: 1;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
}