@import "../../styles/variables.scss";

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  overflow-y: auto;
  display: grid;
  grid-template-rows: minmax(0px, 0.8fr) minmax(0px, 0.5fr) minmax(0px, 2fr) minmax(
      0px,
      3fr
    );

  grid-template-columns: repeat(24, minmax(0px, 1fr));
  grid-template-areas:
    "imageLeft     imageLeft     imageLeft     title         title         title         title         title         title         title         title         title         title         title         title         title         title               title               title               title               title               imageRight          imageRight          imageRight"
    "imageLeft     imageLeft     imageLeft     clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks              clocks              clocks              clocks              clocks              imageRight          imageRight          imageRight"
    "neoCount      neoCount      neoCount      neoCount      neoCount      discovery     discovery     discovery     sentry        sentry        sentry        sentry        moonPhase     moonPhase     moonPhase     moonPhase     programs            programs            programs            programs            programs            programs            programs            programs"
    "recentTab     recentTab     recentTab     recentTab     recentTab     recentTab     recentTab     recentTab     futureTab     futureTab     futureTab     futureTab     futureTab     futureTab     futureTab     futureTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab";
  grid-gap: 20px;
  text-align: center;
  border: 20px solid transparent;
  & > div {
    background-color: #181b2e;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
  }
}
.imageLeft {
  grid-area: imageLeft;
  // background-color: pink;
}
.imageRight {
  grid-area: imageRight;
  // background-color: red;
}
.title {
  grid-area: title;
  border: $panelBorder;
  // background-color: blue;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  //
  display: flex;
  position: relative;
  flex-direction: column;
  & div {
    padding-bottom: 2px;
  }
  & .shortTitle {
    display: none;
    padding-bottom: 2px;
    font-size: 16px;
  }
  & .date {
    font-size: 12px;
  }
}
.clocks {
  grid-area: clocks;
  border: $panelBorder;
  // background-color: green;
}
.neoCount {
  grid-area: neoCount;
  border: $panelBorder;
  // background-color: cyan;
}
.discoveryStats {
  grid-area: discovery;
  border: $panelBorder;
}
.sentry {
  grid-area: sentry;
  border: $panelBorder;
  // background-color: purple;
}
.moonPhase {
  grid-area: moonPhase;
  border: $panelBorder;
  // background-color: purple;
}
.programs {
  grid-area: programs;
  border: $panelBorder;
  // background-color: purple;
}
.recentTab {
  grid-area: recentTab;
  border: $panelBorder;
  // background-color: brown;
}
.futureTab {
  grid-area: futureTab;
  border: $panelBorder;
  // background-color: yellow;
}
// Lower Section
.largeDistantTab {
  grid-area: largeDistantTab;
  border: $panelBorder;
  // background-color: yellow;
}

/* Expand the discovery stats */
@media (max-width: 1420px) {
  .container {
    grid-template-areas:
    "imageLeft     imageLeft     imageLeft     title         title         title         title         title         title         title         title         title         title         title         title         title         title               title               title               title               title               imageRight          imageRight          imageRight"
    "imageLeft     imageLeft     imageLeft     clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks        clocks              clocks              clocks              clocks              clocks              imageRight          imageRight          imageRight"
    "neoCount      neoCount      neoCount      neoCount      neoCount      discovery     discovery     discovery     discovery     sentry        sentry        sentry        sentry        moonPhase     moonPhase     moonPhase     programs            programs            programs            programs            programs            programs            programs            programs"
    "recentTab     recentTab     recentTab     recentTab     recentTab     recentTab     recentTab     recentTab     futureTab     futureTab     futureTab     futureTab     futureTab     futureTab     futureTab     futureTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab     largeDistantTab";
  }
}

@media (max-width: $mobileWidthPxl) {
  .container {
    height: auto; // Let height grow with content
    grid-gap: $gridGapMobile;
    grid-template-rows:
      minmax(0px, 90px)
      minmax(0px, 120px)
      minmax(0px, 150px)
      minmax(0px, 180px)
      minmax(0px, 180px)
      minmax(100px, auto)
      minmax(100px, auto)
      minmax(100px, auto)
      minmax(175px, auto);
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 2fr) minmax(0px, 2fr) minmax(
        0px,
        1fr
      );
    grid-template-areas:
      "imageLeft title     title     imageRight"
      "clocks    clocks    clocks    clocks"
      "sentry    sentry    programs  programs"
      "neoCount  neoCount  neoCount  neoCount"
      "discovery discovery discovery discovery"
      "recentTab recentTab recentTab recentTab"
      "futureTab futureTab futureTab  futureTab"
      "largeDistantTab largeDistantTab largeDistantTab largeDistantTab"
      "moonPhase moonPhase moonPhase moonPhase";
    margin: "1.5rem 0 0 0";
  }

  .title {
    & .shortTitle {
      display: block;
    }
    & .longTitle {
      display: none;
    }
  }

  .largeDistantTab {
    max-height: 400px;
  }
}
