@import "../../styles/variables.scss";

.backgroundContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContentContainer {
  background-color: #181b2e;
  min-width: 50%;
  max-width: 70%;
  min-height: 50%;
  max-height: 70%;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.closeButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.closeButton {
  cursor: pointer;
  transition: ease-in-out 0.12s;
  &:hover {
    opacity: 0.7;
  }
}
.statsContainer {
  display: grid;
  padding: 0px 24px 0px 0px;
  grid-template-columns: minmax(0px, 0.5fr) minmax(0px, 1fr) minmax(0px, 1fr);
  grid-template-rows: repeat(4, minmax(48px, 1fr));
  font-weight: bold;
  text-align: center;
  grid-template-areas:
    "blank     time1     time2"
    "all       data1     data4"
    "geo       data2     data5"
    "m         data3     data6";

  & span {
    font-weight: normal;
  }
}

.cneosButton {
  border: solid 2px $borderColor;
  background: rgb(36, 39, 57);
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  margin: 0px auto;
  padding: 2px 6px;
  text-decoration: none;
}

@media (max-width: $mobileWidthPxl) {
  .mainContentContainer {
    max-width: 90%;
    max-height: 80%;
  }
}
