@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Taviraj:300,400');

html,
body,
.root {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 250%;
  }

  //@extend
  @media (max-width: 600px) {
    // font-size: 4px;
  }
}
